body{
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    background: linear-gradient(#e0b423d5, #915116);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    margin-top: 200px;
    background-color: #fff;
    padding-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(73, 73, 73, 0.205);
    border-radius: 3%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    font-size: 3rem;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    color: black;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input svg{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1.188rem;
}

.forgot-password{
    margin-top: 27px;
    color: #797979;
    font-size: 1.125rem;
}

.forgot-password span{
    cursor: pointer;
    color: black;
    padding-left: 10px;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: black;
    border-radius: 50px;
    font-size: 1.188rem;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: grey;
}