.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    background: linear-gradient(#e0b423d5, #915116);
    height: 100vh;
    margin-top: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 70vh;
    padding-bottom: 5%;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(73, 73, 73, 0.205);
    border-radius: 3%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.text{
    font-size: 2.5rem;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    color: black;
    border-radius: 9px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 40vw;
    height: 12vh;
    background: #eaeaea;
    border-radius: 6px;
}

.input svg{
    margin: 0px 20px;
}

.input input{
    position: relative;
    height: 30px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1rem;
   
    right: 3%;
}

.forgot-password{
    margin-top: 5%;
    color: #797979;
    font-size: 1.125rem;
}

.forgot-password span{
    cursor: pointer;
    color: black;
    padding-left: 10px;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 50px;
    color: #fff;
    background: black;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 3%;
}

.gray{
    background: #eaeaea;
    color: grey;
}

@media only screen and (max-width: 640px){
   .body{
    justify-content: unset;
    padding-top: 10%;
   }
    .container{
    width: 90vw;
    height: 60vh;
   }
   .text{
    font-size: 2rem;
   }
   .inputs{
    gap: 20px;
   }
   .input{
    height: 10vh;
    width: 75vw;
   }
   .input svg{
    font-size: 1.4rem;
   }
   .input input{
    font-size: 1rem;
   }
   .forgot-password{
    font-size: .9rem;
    margin-top: 10%;
   }
   .submit-container{
    gap: 15px;
   }
   .submit{
    width: 32vw;
    height: 40px;
    font-size: .9rem;
   }
}