.cart-box {
    position: relative;
    height: 45px;
    width: 50px;
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 93%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    z-index: 100;
    font-size: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .cart-box {
        left: 85%;
    }
}