.customModal {
    /* Style for the modal container */
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 40%;
    color: white;
    margin-top: 100px;
  } 
  .heading{
    display: flex;
  }
  .item-count{

    width: 5vw;
    height: 5vw;
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
    background-color: rgb(95, 95, 95);
    text-align: center;
    font-size: clamp(1rem, 1.2vw, 2rem); 
    font-weight: 300;
    margin-left: 2%;
  }
  h2 {
    color: hsla(46, 75%, 51%, 0.835);
    font-size: clamp(1.3rem, 2.5vw, 2rem);
    font-weight: 400;
  }
hr{
    margin-top: 8%;
    margin-bottom: 4%;
}
.inCart {
    background-color: rgba(95, 95, 95, 0.5);
    padding: 0 5%;
    border-radius: 3%;
}

.inCart .cartProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
}
.inCart .cartProduct .cartProduct-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inCart .cartProduct .cartProduct-sub img{
    border-radius: 0.6rem;
}

.inCart .cartProduct .cartProduct-sub .item-name{
    font-size: clamp(0.7rem, 1.3vw, 2rem); 
    font-weight: 300;
}

.inCart .cartProduct .cartProduct-sub .item-price{
    font-size: clamp(0.7rem, 1.3vw, 2rem); 
    font-weight: 400;
}

.inCart .cartProduct .cartProduct-sub button{
    color: white;
    background-color: rgba(255, 72, 72, 0.7);
    border: none;
    width: clamp(3.5rem, 8vw, 5rem);
    height: clamp(1rem, 3.5vh, 2rem);
    border-radius: 0.5rem;
    font-size: clamp(0.71rem, 1vw, 2rem); 
}

.inCart .cartProduct hr{
    margin-top: 4%;
    opacity: 0.5;
}


@media only screen and (max-width: 768px){
    .customModal {
        width: 70%;
    }
}