.customModal {
    /* Style for the modal container */
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 40%;
    color: white;
    margin-top: 100px;
  } 
  .heading{
    display: flex;
  }
  .item-count{

    width: 1.5vw;
    height: 3vh;
    border-radius: 50%;
    background-color: rgb(95, 95, 95);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    margin-left: 2%;
  }
  h2 {
    color: hsla(46, 75%, 51%, 0.835);
    font-size: 1.5rem;
    font-weight: 400;
  }
hr{
    margin-top: 8%;
    margin-bottom: 4%;
}
.inCart {
    background-color: rgba(95, 95, 95, 0.5);
    padding: 0 5%;
    border-radius: 3%;
}

.inCart .cartProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
}
.inCart .cartProduct .cartProduct-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inCart .cartProduct .cartProduct-sub img{
    border-radius: 0.6rem;
}

.inCart .cartProduct .cartProduct-sub .item-name{
    font-size: 1rem;
    font-weight: 300;
}

.inCart .cartProduct .cartProduct-sub .item-price{
    font-size: 1rem;
    font-weight: 400;
}

.inCart .cartProduct .cartProduct-sub button{
    color: white;
    background-color: rgba(255, 72, 72, 0.7);
    border: none;
    height: 1.7rem;
    width: 4rem;
    border-radius: 0.5rem;
}

.inCart .cartProduct hr{
    margin-top: 4%;
    opacity: 0.5;
}