.footer {
    width: 100%;
    height: 130px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 1.875rem;
    cursor: pointer;
  }
  
  .footer p {
    position: relative;
    color: white;
    bottom: 10%;

  }
  
  .footer .footerSearch{
    display: none;
    position:relative;
    top: 10%;
    justify-content: center;
    align-items: center;
    width: 34vw;
  }

  .footer .footerSearch .Footer-input-container .footerSearchBar{
    border-radius: 20px;
    border: 0;
    outline: 0;
    height: 30px;
    width: 35vw;
    padding: 0 20px 0 20px;
    right: 0;
  }

  .footer .footerSearch .footerbtn{
    position: relative;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .footer .footerSearch {
      display: flex;
    }
  }